.bar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 6px;
  background: #e62429;

  transform-origin: left;
  animation: loading 1.2s ease infinite;
  z-index: 9999;
}

@keyframes loading {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
