.wrapper {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  margin-top: 44px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iconSvg {
  color: #111;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #111;
  padding: 0.1rem 0;

  font-family: var(--font-roboto-condensed), system-ui, sans-serif;
}

.input::placeholder {
  color: #b3b3b3;
}

.underline {
  width: 100%;
  height: 1.3px;
  background-color: #111;
}

.resultsText {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #111;
}
